.logoNavBar {
  width: 8vw;
  margin: 0;
}
.navbar {
  position: fixed;
  background-color: $d-grey !important;
  height: 10vh !important;
  width: 100% !important;
    border-bottom: 1px solid $gold;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  padding-left: 2vw !important;
  padding-right: 2vw !important;
}

.nav-link {
  font-family: $genFont !important;
  font-size: $fs-L !important;
  font-weight: $fw-M !important;
  color: $l-grey !important;
}

.active {
  border-bottom: 2px solid $gold;
}
